.videoblock-module-block {

}

.videoblock-video-wrapper {

}


.videoblock-video-shell, .videoblock-cta-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.videoblock-video {
  z-index: 100;
  width: 350px;
}

.videoblock-cta-wrapper {

}

.videoblock-cta-shell {
  width: 350px;
  position: relative;
}

.videoblock-cta {
  color: white;
  background-color:black;
  padding: 1em 0 1em 0;
  font-size: 16px;
  font-weight: 800;
  opacity: 0.5;
  position: absolute;
  z-index: 500;
  text-align: center;
  top: -12.5em;
  width: 100%;
}

@media only screen and (min-width:720px) {

  .videoblock-cta-shell {
    width: 700px;
  }

  .videoblock-cta {
    font-size: 24px;
    top: -15.66em;
  }

  .videoblock-video {
    width: 700px;
  }
}

@media only screen and (min-width:1220px) {

  .videoblock-cta-shell {
    width: 1170px;
  }

  .videoblock-cta {
    font-size: 32px;
    top: -18.66em;
    left: auto;
  }

  .videoblock-video {
    width: 1170px;
  }
}
